<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sequenia.threads">

    <application
       >

        <activity android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyle"
          />

    </application>

</manifest>
