<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sequenia.threads">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:name=".activities.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyle"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".activities.ConsultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyleConsultPage" />
        <activity
            android:name=".activities.FilesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyle" />
        <activity
            android:name=".activities.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsGalleryStyle" />
        <activity
            android:name=".activities.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsGalleryStyle" />
        <activity
            android:name=".activities.ImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsGalleryStyle" />
        <activity
            android:name=".activities.TranslucentActivity"
            android:screenOrientation="portrait"
            android:label=""
            android:launchMode="singleInstance"
            android:theme="@style/Translucent">
        </activity>

        <service
            android:name=".services.MyServerIntentService"
            android:exported="false" />
        <service
            android:name=".services.DownloadService"
            android:exported="false" />
        <service
            android:name=".services.NotificationService"
            android:exported="false" />
        <receiver
            android:name=".broadcastReceivers.MyPBReceiver"
            android:exported="false"
            android:permission="com.sequenia.appwithchatbeta.permission.pushserver.RECEIVE">
            <intent-filter>
                <action android:name="com.pushserver.android.NEW_PUSH_MESSAGE_EVENT" />
                <action android:name="com.pushserver.android.RECEIVER_CHANGED_EVENT" />
                <action android:name="com.pushserver.android.DEVICE_ADDRESS_CHANGED_EVENT" />
                <action android:name="com.pushserver.android.ERROR_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastReceivers.MyOtherPBReceiver"
            android:exported="false"
            android:permission="com.pushserver.android.permission.RECEIVE">
            <intent-filter>
                <action android:name="com.pushserver.android.OTHER_PUSH_MESSAGE_EVENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.pushserver.android.useDefaultDeviceUID"
            android:value="true" />
        <meta-data
            android:name="com.pushserver.android.service"
            android:value="com.sequenia.threads.services.MyServerIntentService" />
    </application>

</manifest>