<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sequenia.threads">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyle" />
        <activity
            android:name=".activities.ConsultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyleConsultPage" />
        <activity
            android:name=".activities.FilesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsStyle" />
        <activity
            android:name=".activities.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsGalleryStyle" />

        <activity
            android:name=".activities.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThreadsGalleryStyle" />
        <service android:name=".push.MyServerIntentService" android:exported="false" />
        <service android:name=".push.MyPGCMService" android:exported="false"/>
        <service android:name=".DownloadService" android:exported="false"/>
    </application>

</manifest>
