<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="com.sequenia.appwithchatdev.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sequenia.appwithchatdev.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/BottomNavigationTheme" />

        <meta-data
            android:name="com.pushserver.android.providerUid"
            android:value="PH5AckgzOkYoSz82QVN1M2ovbiZePEdBMi80QHFdOm0vUyZGOS5tXCZgRWM1WiYkM34+Cg==" />

        <meta-data
            android:name="im.threads.getServerUrl"
            android:value="https://datastore.threads.im/" />

    </application>

</manifest>